body {
    font-family: 'Reem Kufi';
    font-size: 1em;
}

input {
    font-family: 'Reem Kufi';
    font-size: 1em;
    width: 25em;
}

button {
    font-family: 'Reem Kufi';
    font-size: 1em;
    background-color: lightcoral;
}

p {
    font-family: 'Reem Kufi';
    font-size: 2em;
}